<div class="card">
    <div class="card-body">
      <form [formGroup]="sequenceForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" formControlName="name" #name />
        </div>
        <div class="form-group">
          <label class="col-md-4">Description</label>
          <input type="text" class="form-control" formControlName="description" #description />
        </div>
        <div class="form-group">
          <label class="col-md-4">DNA Sequence</label>
          <input type="text" class="form-control" formControlName="dnaSequence" #dnaSequence />
        </div>
        <div class="form-group">
          <button type="submit" 
          [disabled]="sequenceForm.pristine || sequenceForm.invalid" 
          class="btn btn-primary">Add Sequence</button>
        </div>
      </form>
    </div>
  </div>