<table class="table table-striped" [mfData]="sequences" #mf="mfDataTable">
  <thead>
  <tr>
      <th>
          <mfDefaultSorter by="name">Name</mfDefaultSorter>
      </th>
      <th>
          <mfDefaultSorter>Description</mfDefaultSorter>
      </th>
      <th>
          <mfDefaultSorter>DNA Sequence</mfDefaultSorter>
      </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sequence of mf.data">
      <td>{{sequence.name | uppercase }}</td>
      <td>{{sequence.description | uppercase }}</td>
      <td>{{sequence.dnaSequence | uppercase | slice:0:4 }}<span *ngIf="sequence.dnaSequence.length > 5">...</span></td>
  </tr>
  </tbody>
</table>